<div id="create-new-view-container">
  <div id="create-view-container">
    <section class="step clearfix">
      <!-- <h2>Create your view</h2> -->
      
      <form>
        <div class="sub-step">
          <h3>(1) Select up to 3 dimensions</h3>
          {{ view App.SelectDimensionsView }}
        </div>
    
        <div class="sub-step">
          <h3>(2) Choose the measure you want to see</h3>
      
          <div class="half-inner">
            <div class="clearfix">
              {{#each measure in App.formData.measures}}
              <label class="radio">
                <input type="radio" name="measure" {{bindAttr value="measure"}}>{{ measure }}
              </label>
              {{/each}}
            </div>
          </div>
          <h3>(3) Name this view</h3>

          <div class="half-inner">
            <div class="clearfix">
              Title : 
              <input id="create-new-view-title" type="text" name="title" value="" placeholder="Name the view..." style="width: 190px">
            </div>
          </div>
        </div>
      </form>
      
      
    </section>
    <div class="clearfix">
        <div class="filters-container">
          <div class="filters clearfix">
            <div class="filter"><a {{ action "showTimescopeModal" this }}>Set Time Scope</a></div>
            <div class="filter"><a {{ action "showFilterModal" this }}>Set Filter</a></div>
          </div>
        </div>
        
        <div class="actions-container">
          <div class="clearfix">
            <div class="error-message"></div>
          
            <div class="action">
              <button id="create-new-view-reset" type="reset" class="" {{ action "resetForm" this }}>Reset</button>
              <div class="pull-right">
                <button class="" {{ action "cancelCreateView" this }}>Cancel</button>
                <button id="create-new-view-confirm" type="" class="" {{ action "createNewView" this }}>Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <!-- <div id="create-view-filter-container">
    <section class="step clearfix">
      <h2>
        <div id="create-view-filter-toggler" class="pull-left i-plus-white clickable toggler"></div> 
        Filter
      </h2>
      <div id="create-view-filter-panel" style="display: none;">
        awesome
      </div>
    </section>
  </div>
  
  <div id="create-view-timescope-container">
    <section class="step clearfix">
      <h2>
        <div id="create-view-timescope-toggler" class="pull-left i-plus-white clickable"></div> 
        Time Scope
      </h2>
      <div id="create-view-timescope-panel" style="display: none;">
        awesome
      </div>
    </section>
  </div> -->
</div>