<div class="chart-container">
  <div class="chart">
    {{ drawChart id }}
    <div id="highchart"></div>
  </div>
  
  <div class="clearfix">
    <div class="filters-container">
      <div class="filters clearfix">
        <div class="filter"><a {{ action "showTimescopeModal" this }}>Set Time Scope</a></div>
        <div class="filter"><a {{ action "showFilterModal" this }}>Set Filter</a></div>
      </div>
    </div>
  
    <div class="actions-container">
      <div class="actions">
        <div class="action">
          <a {{ action "deleteObject" this }}>Delete</a>
          <a {{ action "saveObject" this }}>Save</a>
      </div>
    </div>
  </div>
</div>