{{ outlet main_window }}

<section id="view-detail-container">
  <div class="detail-block">
    <h3>Dimension</h3>
    
    {{#each dimension in App.formData.dimensions}}
    <div class="dimension">
      <h4>{{ dimension.name }}</h4>
      
      <div class="attributes">
        {{#each sub in dimension.sub_dimensions}}
        <div class="attribute">{{ sub }}</div>
        {{/each}}
      </div>
    </div>
    {{/each}}
    
    <div class="dimension">
      <h4>Product</h4>
      
      <div class="attributes">
        <div class="attribute selected">Category</div>
      </div>
    </div>
  </div>
  
  <div class="detail-block">
    <h3>Measure</h3>
    
    <div class="inner">
      {{#each measure in App.formData.measures}}
      <div class="attribute">{{ measure }}</div>
      {{/each}}
    </div>
  </div>
</section>

<section id="view-container">
  <div class="tabs clearfix">
    {{#each model}}
    <div class="tab">{{#linkTo 'big_object_view' this}}{{title}}{{/linkTo}}<div class="delete-white pull-right icon">x<span style="display:none">{{id}}</span></div></div>
    {{/each}}
    <div class="add-view-btn">{{#linkTo "big_object_views.new"}}+{{/linkTo}}</div>
  </div>
  {{ outlet }}

</section>