<div class="popup-window-bg">
  <div id="filter-window" class="popup-window">
    
    <div class="popup-window-header">Set Filters</div>
    <div class="popup-window-body">
      {{ modalView.model.title }}
      {{#each dimension in modalView.model.dimensions }}
      {{ dimension }}
      {{/each}}
    </div>
    <div class="popup-window-footer">
      <button class="btn-popup" {{ action "resetFilter" this }}>Reset</button>
      <button type="submit" class="btn-popup pull-right" {{ action "confirmFilter" this }}>Confirm</button>
      <button class="btn-popup pull-right" {{ action "closeModalView" this }}>Cancel</button>
    </div>
  </div>
</div>