<div class="popup-window-bg">
  <div id="filter-window" class="popup-window">
  	<div class="popup-window-header">Set Time Scope</div>
  	<div class="popup-window-body">
  		<div id="timeframe-container">
        <form>
  			<ul class="none-style">
  				<div class="expandable-list-header">
            <li class="list-title inline-text">Range</li>
          <div class="list-content">
  				<li>
  					<label class="radio radio-pill radio-pill-selected">
              	<input type="radio" name="timeframeRangeRadio" value="all" checked> All the records
          	</label>
          </li>
          <li class="li-datepicker clearfix">
          	<label class="radio radio-pill pull-left">
              <div class="pull-left">
                <input type="radio" name="timeframeRangeRadio" value="range">
              </div>
              <div class="pull-left">
                <input type="text" id="timeframe-range-from" name="from" class="pull-left">
                <span class="i-calendar pull-left"></span>
                <span class="inline-span pull-left">to</span>
              </div>
              <div class="pull-left">
                <input type="text" id="timeframe-range-to" name="to" class="pull-left">
                <span class="i-calendar pull-left"></span>
              </div>
            </label>
          </li>
          </div>
          </div>
        </ul>
        <ul class="none-style clearfix">
            <div class="expandable-list-header">
              <li class="list-title inline-text">Cycle</li>
            <div class="list-content">
            <li class="clearfix">
              <ul class="none-style">
                <li class="float-left seperator-right">
                  <label class="radio radio-pill radio-pill-selected">
                    <input type="radio" name="cycle" data-panel="timeframe-cycle-all-panel" value="all" checked> All
                  </label>
                  <label class="radio radio-pill">
                    <input type="radio" name="cycle" data-panel="timeframe-cycle-week-panel" value="week"> Week
                  </label>
                  <label class="radio radio-pill">
                    <input type="radio" name="cycle" data-panel="timeframe-cycle-month-panel" value="month"> Month
                  </label>
                  <label class="radio radio-pill">
                    <input type="radio" name="cycle" data-panel="timeframe-cycle-year-panel" value="year"> Year
                  </label>
                </li>
                
                <li class="float-left">

                  <div id="timeframe-cycle-all-panel" name="cycle-panel">
                    <!-- timeframe-cycle-all-panel -->
                    Default : Everyday during the selected range
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                  
                  <div id="timeframe-cycle-week-panel" name="cycle-panel" style="display:none;">
                    <!-- timeframe-cycle-week-panel -->
                    <ul class="none-style">
                      <li>
                        <ul class="none-style clearfix inline-block">
                          <li class="pull-left">
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="monday">Monday
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="tuesday">Tuesday
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="wedensday">Wedensday
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="thursday">Thursday
                            </label>
                          </li>
                          <li class="pull-left">
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="friday">Friday
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="saturday">Saturday
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="timeframe-cycle-week-weekdays-checkbox" value="sunday">Sunday
                            </label>
                          </li>
                        </ul>
                      </li>
                      <br>
                      <li>
                        <label>
                          Repeat every
                          <input type="number" id="timeframe-cycle-week-repeat-number" min="1" max="52" >
                          Week
                        </label>  
                      </li>
                    </ul>
                  </div>
                  <div id="timeframe-cycle-month-panel" name="cycle-panel" style="display:none;">
                    <!-- timeframe-cycle-month-panel -->

                        <label class="radio radio-pill">
                          <input type="radio" id="timeframe-cycle-month-radio-1" name="cycle-month" value="1"> The 
                            <select id="timeframe-cycle-month-select-1" class="select" style="width:60px;">
                              {{ renderNumberSelectOptions ordinal 1 31 }}
                            </select>
                            day <br>Repeat every
                          <input type="number" id="timeframe-cycle-month-repeat-number-1" min="1" max="12" > month
                        </label>
                        <br>
                        <label class="radio radio-pill">
                          <input type="radio" id="timeframe-cycle-month-radio-2" name="cycle-month" value="2"> The 
                            <select id="timeframe-cycle-month-select-2" class="select" style="width:60px;">
                              {{ renderNumberSelectOptions ordinal 1 5 }}
                            </select>
                            <select id="timeframe-cycle-month-select-3" class="select" style="width:90px;">
                              {{ renderWeekdaySelectOptions }}
                            </select>
                            <br> Repeat every
                            <input type="number" id="timeframe-cycle-month-repeat-number-2" min="1" max="12" > month
                        </label>

                  </div>
                  <div id="timeframe-cycle-year-panel" name="cycle-panel" style="display:none;">
                    <!-- timeframe-cycle-year-panel -->
                    <label class="radio radio-pill">
                      <input type="radio" name="cycle-year" value="1"> The 
                        <select id="timeframe-cycle-year-select-1" class="select" style="width:90px;">
                          {{ renderMonthSelectOptions  }}
                        </select>
                        <select id="timeframe-cycle-year-select-2" class="select" style="width:60px;">
                          {{ renderNumberSelectOptions ordinal 1 31 }}
                        </select>
                        <br> Repeat every
                        <input type="number" id="timeframe-cycle-year-repeat-number-1" min="1" max="100" > year
                    </label>
                    <br>
                    <label class="radio radio-pill">
                      <input type="radio" name="cycle-year" value="2"> The 
                        <select id="timeframe-cycle-year-select-3" class="select" style="width:60px;">
                          {{ renderNumberSelectOptions ordinal 1 5 }}
                        </select>
                        <select id="timeframe-cycle-year-select-4" class="select" style="width:90px;">
                          {{ renderWeekdaySelectOptions  }}
                        </select>
                         of 
                        <select id="timeframe-cycle-year-select-5" class="select" style="width:90px;">
                          {{ renderMonthSelectOptions  }}
                        </select>
                        <br> Repeat every
                        <input type="number" id="timeframe-cycle-year-repeat-number-2" min="1" max="100" > year
                    </label>
                  </div>
                </li>
              </ul>
            </li>
            </div>
            </div>
  			  </ul>
        </form>
  		</div>
  	</div>
    
    <div class = "popup-window-footer clearfix">
    <div class="actions-container clearfix">
      <div class="error-message"></div>
      <div class="actions">
        <div class="action">
          <a id="create-new-view-reset" type="reset" class="reset btn-reset" {{ action "resetTimeScope" this }}>Reset</a>
          <a class="btn-cancel" {{ action "closeModalView" this }}>Cancel</a>
          <a id="create-new-view-confirm" type="" class="" {{ action "confirmTimeScope" this }}>Confirm</a>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>